<%- include("./partials/header.ejs") %>
<main class="form-signin w-100 m-auto mt-5">
  <div class="card w-100 m-auto">
    <article class="card-body">
      <h4 class="card-title mb-4 mt-1 text-center">Reset Password</h4>
      <% if(error) { %>
      <div class="m-4 alert alert-danger">
        <strong>Error : </strong> <%= error %>
      </div>
      <% } else if(success) { %>
      <div class="m-4 alert alert-success">
        <strong>Success : </strong> <%= success %>
      </div>
      <% } %>

      <hr />
      <form action="/users/reset/password/update" method="post">
        <div class="form-group p-2 m-2">
          <input
            name="email"
            class="form-control"
            placeholder="Email"
            value="<%= data.email %> "
            type="text"
            disabled
          />
          <input type="hidden" name="userid" value="<%= data.userId %>" />
        </div>
        <div class="form-group p-2 m-2">
          <input
            name="password"
            class="form-control"
            placeholder="Enter New Password"
            type="password"
          />
        </div>
        <!-- form-group// -->
        <div class="form-group p-2 m-2">
          <input
            name="confirmPassword"
            class="form-control"
            placeholder="Confirm Password"
            type="password"
          />
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group p-2 m-2">
              <button class="w-100 btn btn-primary" type="submit">
                Save Password
              </button>
            </div>
          </div>
        </div>
      </form>
    </article>
  </div>
</main>
<%- include("./partials/footer.ejs") %>
